.card{
    /* background-color: rgba(211, 211, 211, 0.663); */
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;

    max-width: 400px;
    margin: 0 auto;

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    input{
        width: 91%;
        /* justify-content: center; */
        padding: 15px;
    }

    button {
        width: 100%;
        font-size: 20px;
        background-color: rgb(251, 182, 9 );
        border: none;
        height: 40px;
  
        /* text-align: center; */
        /* align-items: center; */
    }
}
